# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
.env/
.venv/
ENV/

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.gho
*.ori
*.orig
*.tmp

# Dependency directories
node_modules/
jspm_packages/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.npm
.pnpm-store/

# Temporary files
*.swp
*~

